venv
.env
.env*
demo_files
demo_files/*
__pycache__/
__pycache__
.pytest_cache
.pytest_cache/
claude_desktop_config.json
development_roadmap.txt

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.json
*_override.tf
*_override.json


# Kubernetes
01-backend_kub_secrets.yaml

dashboard-1782049472808.json